.live-feed-win {
  background: #fff;
  border: 2px solid #ddd;
  border-radius: 6px;
  margin: 2px;
  padding: 0px;
  float: left;
}

.live-feed-item {
  background: #fff;
  border: #ddd 1px solid;
  border-radius: 6px;
  margin: 2px 0px;
  padding: 0px;
}

.live-feed-item-menu {
  margin: 2px 0px;
  padding: 2px;
}

.live-feed-input {
  background: #fff;
  border: #ddd 1px solid;
  border-radius: 2px;
  width: 800px;
  color: #33f;
}

.live-feed-textarea {
  background: #fff;
  border: #ddd 1px solid;
  border-radius: 2px;
  width: 800px;
  height: 200px;
  color: #33f;
}

.live-feed-textarea-small {
  background: #fff;
  border: #ddd 1px solid;
  border-radius: 2px;
  width: 800px;
  height: 30px;
  color: #33f;
}